<?xml version="1.0"?>
<rss xmlns:g="http://base.google.com/ns/1.0" version="2.0">
    <channel>
        <title>{{ store.name }}</title>
        <link>{{ store.url }}</link>
        <description>This is a product feed for Google Shopping PLA</description>

        {% for product in products %}

            <item>

                <!-- Basic product data. Schema: https://support.google.com/merchants/answer/7052112?hl=en#basic_product_data -->

                {% if product.variant_sku %}
                    <g:id>{{ product.variant_sku }}</g:id>
                {% elif product.main_sku %}
                    <g:id>{{ product.main_sku }}</g:id>
                {% endif %}

                {% if product.structured_title %}
                    <g:structured_title>
                        <g:digital_source_type>{{ product.structured_title.digital_source_type }}</g:digital_source_type>
                        <g:content>{{ product.structured_title.content }}</g:content>
                    </g:structured_title>
                {% elif product.title %}
                    <g:title>{{ product.title }}</g:title>
                {% endif %}

                {% if product.structured_description %}
                    <g:structured_description>
                        <g:digital_source_type>{{ product.structured_description.digital_source_type }}</g:digital_source_type>
                        <g:content>{{ product.structured_description.content }}</g:content>
                    </g:structured_description>
                {% elif product.description %}
                    <g:description>{{ product.description }}</g:description>
                {% endif %}

                {% if product.link %}
                    <g:link>{{ product.link }}</g:link>
                {% endif %}

                {% if product.image_link %}
                    <g:image_link>{{ product.image_link }}</g:image_link>
                {% endif %}

                {% if product.additional_image_links %}
                    {% for link in product.additional_image_links %}
                        <g:additional_image_link>{{ link }}</g:additional_image_link>
                    {% endfor %}
                {% endif %}

                {% if product.virtual_model_link %}
                    <g:virtual_model_link>{{ product.virtual_model_link }}<g:virtual_model_link>
                {% endif %}

                {% if product.mobile_link %}
                    <g:mobile_link>{{ product.mobile_link }}<g:mobile_link>
                {% endif %}

                <!-- End basic product data -->


                <!-- Price and Availability. Schema: https://support.google.com/merchants/answer/7052112?hl=en#price_and_availability -->

                {% if product.availability %}
                    <g:availability>{{ product.availability }}</g:availability>
                {% endif %}

                {% if product.availability_date %}
                    <g:availability_date>{{ product.availability_date }}</g:availability_date>
                {% endif %}

                {% if product.cost_of_goods_sold %}
                    <g:cost_of_goods_sold>{{ product.cost_of_goods_sold }}</g:cost_of_goods_sold>
                {% endif %}

                {% if product.expiration_date %}
                    <g:expiration_date>{{ product.expiration_date }}</g:expiration_date>
                {% endif %}

                {% if product.price %}
                    <g:price>{{ product.price }}</g:price>
                {% endif %}

                {% if product.sale_price %}
                    <g:sale_price>{{ product.sale_price }}</g:sale_price>
                {% endif %}

                {% if product.sale_price_effective_date %}
                    <g:sale_price_effective_date>{{ product.sale_price_effective_date }}</g:sale_price_effective_date>
                {% endif %}

                {% if product.unit_pricing_measure %}
                    <g:unit_pricing_measure>{{ product.unit_pricing_measure }}</g:unit_pricing_measure>
                {% endif %}

                {% if product.unit_pricing_base_measure %}
                    <g:unit_pricing_base_measure>{{ product.unit_pricing_base_measure }}</g:unit_pricing_base_measure>
                {% endif %}

                {% if product.installment %}
                    <g:installment>

                        {% if product.installment.months %}
                            <g:months>{{ product.installment.months }}</g:months>
                        {% endif %}

                        {% if product.installment.amount %}
                            <g:amount>{{ product.installment.amount }}</g:amount>
                        {% endif %}

                        {% if product.installment.downpayment %}
                            <g:downpayment>{{ product.installment.downpayment }}</g:downpayment>
                        {% endif %}

                        {% if product.installment.credit_type %}
                            <g:credit_type>{{ product.installment.credit_type }}</g:credit_type>
                        {% endif %}

                    </g:installment>
                {% endif %}

                {% if product.subscription_cost %}
                    <g:subscription_cost>{{ product.subscription_cost }}</g:subscription_cost>
                {% endif %}

                {% if product.loyalty_program %}
                    <g:loyalty_program>

                        {% if product.loyalty_program.program_label %}
                            <g:program_label>{{ product.loyalty_program.program_label }}</g:program_label>
                        {% endif %}

                        {% if product.loyalty_program.tier_label %}
                            <g:tier_label>{{ product.loyalty_program.tier_label }}</g:tier_label>
                        {% endif %}

                        {% if product.loyalty_program.price %}
                            <g:price>{{ product.loyalty_program.price }}</g:price>
                        {% endif %}

                        {% if product.loyalty_program.loyalty_points %}
                            <g:loyalty_points>{{ product.loyalty_program.loyalty_points }}</g:loyalty_points>
                        {% endif %}

                        {% if product.loyalty_program.member_price_effective_date %}
                            <g:member_price_effective_date>{{ product.loyalty_program.member_price_effective_date }}</g:member_price_effective_date>
                        {% endif %}

                    </g:loyalty_program>
                {% endif %}

                {% if product.auto_pricing_min_price %}
                    <g:auto_pricing_min_price>{{ product.auto_pricing_min_price }}</g:auto_pricing_min_price>
                {% endif %}

                <!-- End price and availability -->


                <!-- Product category. Schema: https://support.google.com/merchants/answer/7052112?hl=en#product_category -->

                {% if product.google_product_category %}
                    <g:google_product_category>{{ product.google_product_category }}</g:google_product_category>
                {% endif %}

                {% if product.product_type %}
                    <g:product_type>{{ product.product_type }}</g:product_type>
                {% endif %}

                <!-- End product category -->


                <!-- Product identifiers. Schema: https://support.google.com/merchants/answer/7052112?hl=en#product_identifiers -->

                {% if product.brand %}
                    <g:brand>{{ product.brand }}</g:brand>
                {% endif %}

                {% if product.gtin %}
                    <g:gtin>{{ product.gtin }}</g:gtin>
                {% endif %}

                {% if product.mpn %}
                    <g:mpn>{{ product.mpn }}</g:mpn>
                {% endif %}

                {% if product.identifier_exists %}
                    <g:identifier_exists>{{ product.identifier_exists }}</g:identifier_exists>
                {% endif %}

                <!-- End product identifiers -->


                <!-- Detailed product description. Schema: https://support.google.com/merchants/answer/7052112?hl=en#detailed_product_description -->

                {% if product.condition %}
                    <g:condition>{{ product.condition }}</g:condition>
                {% endif %}

                {% if product.adult %}
                    <g:adult>{{ product.adult }}</g:adult>
                {% endif %}

                {% if product.multipack %}
                    <g:multipack>{{ product.multipack }}</g:multipack>
                {% endif %}

                {% if product.is_bundle %}
                    <g:is_bundle>{{ product.is_bundle }}</g:is_bundle>
                {% endif %}

                {% if product.certification %}
                    <g:certification>

                        {% if product.certification.certification_authority %}
                            <g:certification_authority>{{ product.certification.certification_authority }}</g:certification_authority>
                        {% endif %}

                        {% if product.certification.certification_name %}
                            <g:certification_name>{{ product.certification.certification_name }}</g:certification_name>
                        {% endif %}

                        {% if product.certification.certification_code %}
                            <g:certification_code>{{ product.certification.certification_code }}</g:certification_code>
                        {% endif %}

                    </g:certification>
                {% endif %}

                {% if product.energy_efficiency_class %}
                    <g:energy_efficiency_class>{{ product.energy_efficiency_class }}</g:energy_efficiency_class>
                {% endif %}

                {% if product.min_energy_efficiency_class %}
                    <g:min_energy_efficiency_class>{{ product.min_energy_efficiency_class }}</g:min_energy_efficiency_class>
                {% endif %}

                {% if product.max_energy_efficiency %}
                    <g:max_energy_efficiency>{{ product.max_energy_efficiency }}</g:max_energy_efficiency>
                {% endif %}

                {% if product.age_group %}
                    <g:age_group>{{ product.age_group }}</g:age_group>
                {% endif %}

                {% if product.color %}
                    <g:color>{{ product.color }}</g:color>
                {% endif %}

                {% if product.gender %}
                    <g:gender>{{ product.gender }}</g:gender>
                {% endif %}

                {% if product.material %}
                    <g:material>{{ product.material }}</g:material>
                {% endif %}

                {% if product.pattern %}
                    <g:pattern>{{ product.pattern }}</g:pattern>
                {% endif %}

                {% if product.size %}
                    <g:size>{{ product.size }}</g:size>
                {% endif %}

                {% if product.size_type %}
                    <g:size_type>{{ product.size_type }}</g:size_type>
                {% endif %}

                {% if product.size_system %}
                    <g:size_system>{{ product.size_system }}</g:size_system>
                {% endif %}

                {% if product.variant_sku %}
                    <g:item_group_id>{{ product.main_sku }}</g:item_group_id>
                {% endif %}

                {% if product.length %}
                    <g:product_length>{{ product.length }}</g:product_length>
                {% endif %}

                {% if product.width %}
                    <g:product_width>{{ product.width }}</g:product_width>
                {% endif %}

                {% if product.height %}
                    <g:product_height>{{ product.height }}</g:product_height>
                {% endif %}

                {% if product.weight %}
                    <g:product_weight>{{ product.weight }}</g:product_weight>
                {% endif %}

                {% if product.additional_product_detail %}
                    <g:product_detail>

                        {% if product.additional_product_detail.section_name %}
                            <g:section_name>{{ product.additional_product_detail.section_name }}</g:section_name>
                        {% endif %}

                        {% if product.additional_product_detail.attribute_name %}
                            <g:attribute_name>{{ product.additional_product_detail.attribute_name }}</g:attribute_name>
                        {% endif %}

                        {% if product.additional_product_detail.attribute_value %}
                            <g:attribute_value>{{ product.additional_product_detail.attribute_value }}</g:attribute_value>
                        {% endif %}

                    </g:product_detail>
                {% endif %}

                {% if product.highlights %}
                    {% for highlight in product.highlights %}
                        <g:product_highlight>{{ highlight }}</g:product_highlight>
                    {% endfor %}
                {% endif %}

                <!-- End detailed product description -->


                <!-- Shopping campaigns and other configurations. Schema: https://support.google.com/merchants/answer/7052112?hl=en#shopping_campaigns_and_other -->

                {% if product.google_ads_redirect %}
                    <g:ads_redirect>{{ product.google_ads_redirect }}</g:ads_redirect>
                {% endif %}

                {% if product.custom_label_0 %}
                    <g:custom_label_0>{{ product.custom_label_0 }}</g:custom_label_0>
                {% endif %}

                {% if product.custom_label_1 %}
                    <g:custom_label_1>{{ product.custom_label_1 }}</g:custom_label_1>
                {% endif %}

                {% if product.custom_label_2 %}
                    <g:custom_label_2>{{ product.custom_label_2 }}</g:custom_label_2>
                {% endif %}

                {% if product.custom_label_3 %}
                    <g:custom_label_3>{{ product.custom_label_3 }}</g:custom_label_3>
                {% endif %}

                {% if product.custom_label_4 %}
                    <g:custom_label_4>{{ product.custom_label_4 }}</g:custom_label_4>
                {% endif %}

                {% if product.promotion_ids %}
                    {% for id in product.promotion_ids %}
                        <g:promotion_id>{{ id }}</g:promotion_id>
                    {% endfor %}
                {% endif %}

                {% if product.lifestyle_image_link %}
                    <g:lifestyle_image_link>{{ product.lifestyle_image_link }}</g:lifestyle_image_link>
                {% endif %}

                <!-- End shopping campaigns and other configurations -->


                <!-- Marketplaces. Schema: https://support.google.com/merchants/answer/7052112?hl=en#marketplaces -->

                {% if product.external_seller_id %}
                    <g:external_seller_id>{{ product.external_seller_id }}</g:external_seller_id>
                {% endif %}

                <!-- End marketplaces -->


                <!-- Destinations. Schema: https://support.google.com/merchants/answer/7052112?hl=en#destinations -->

                {% if product.excluded_destinations %}
                    {% for destination in excluded_destinations %}
                        <g:excluded_destination>{{ destination }}</g:excluded_destination>
                    {% endfor %}
                {% endif %}

                {% if product.included_destinations %}
                    {% for destination in included_destinations %}
                        <g:included_destination>{{ destination }}</g:included_destination>
                    {% endfor %}
                {% endif %}

                {% if product.excluded_countries %}
                    {% for country in excluded_countries %}
                        <g:shopping_ads_excluded_country>{{ country }}</g:shopping_ads_excluded_country>
                    {% endfor %}
                {% endif %}

                {% if product.pause %}
                    <g:pause>ads</g:pause>
                {% endif %}

                <!-- End destinations -->


                <!-- Shipping. Schema: https://support.google.com/merchants/answer/7052112?hl=en#shipping_and_returns -->

                {% if product.shipping %}
                    <g:shipping>

                        {% if product.shipping.country %}
                            <g:country>{{ product.shipping.country }}</g:country>
                        {% endif %}

                        {% if product.shipping.region %}
                            <g:region>{{ product.shipping.region }}</g:region>
                        {% endif %}

                        {% if product.shipping.postal_code %}
                            <g:postal_code>{{ product.shipping.postal_code }}</g:postal_code>
                        {% endif %}

                        {% if product.shipping.location_id %}
                            <g:location_id>{{ product.shipping.location_id }}</g:location_id>
                        {% endif %}

                        {% if product.shipping.location_group_name %}
                            <g:location_group_name>{{ product.shipping.location_group_name }}</g:location_group_name>
                        {% endif %}

                        {% if product.shipping.service %}
                            <g:service>{{ product.shipping.service }}</g:service>
                        {% endif %}

                        {% if product.shipping.price %}
                            <g:price>{{ product.shipping.price }}</g:price>
                        {% endif %}

                        {% if product.shipping.min_handling_time %}
                            <g:min_handling_time>{{ product.shipping.min_handling_time }}</g:min_handling_time>
                        {% endif %}

                        {% if product.shipping.max_handling_time %}
                            <g:max_handling_time>{{ product.shipping.max_handling_time }}</g:max_handling_time>
                        {% endif %}

                        {% if product.shipping.min_transit_time %}
                            <g:min_transit_time>{{ product.shipping.min_transit_time }}</g:min_transit_time>
                        {% endif %}

                        {% if product.shipping.max_transit_time %}
                            <g:max_transit_time>{{ product.shipping.max_transit_time }}</g:max_transit_time>
                        {% endif %}

                    </g:shipping>
                {% endif %}

                {% if product.shipping_label %}
                    <g:shipping_label>{{ product.shipping_label }}</g:shipping_label>
                {% endif %}

                {% if product.shipping_weight %}
                    <g:shipping_weight>{{ product.shipping_weight }}</g:shipping_weight>
                {% endif %}

                {% if product.shipping_length %}
                    <g:shipping_length>{{ product.shipping_length }}</g:shipping_length>
                {% endif %}

                {% if product.shipping_width %}
                    <g:shipping_width>{{ product.shipping_width }}</g:shipping_width>
                {% endif %}

                {% if product.shipping_height %}
                    <g:shipping_height>{{ product.shipping_height }}</g:shipping_height>
                {% endif %}

                {% if product.ships_from_country %}
                    <g:ships_from_country>{{ product.ships_from_country }}</g:ships_from_country>
                {% endif %}

                {% if product.max_handling_time %}
                    <g:max_handling_time>{{ product.max_handling_time }}</g:max_handling_time>
                {% endif %}

                {% if product.min_handling_time %}
                    <g:min_handling_time>{{ product.min_handling_time }}</g:min_handling_time>
                {% endif %}

                {% if product.free_shipping_threshold %}
                    <g:free_shipping_threshold>
                        <g:country>{{ product.free_shipping_threshold.country }}</g:country>
                        <g:price_threshold>{{ product.free_shipping_threshold.price_threshold }}</g:price_threshold>
                    </g:free_shipping_threshold>
                {% endif %}

                <!-- End shipping -->


                <!-- Tax override. Schema: https://support.google.com/merchants/answer/7052112?hl=en#tax -->

                {% if product.tax %}
                    <g:tax>

                        {% if product.tax.country %}
                            <g:country>{{ product.tax.country }}</g:country>
                        {% endif %}

                        {% if product.tax.region %}
                            <g:region>{{ product.tax.region }}</g:region>
                        {% endif %}

                        {% if product.tax.postal_code %}
                            <g:postal_code>{{ product.tax.postal_code }}</g:postal_code>
                        {% endif %}

                        {% if product.tax.location_id %}
                            <g:location_id>{{ product.tax.location_id }}</g:location_id>
                        {% endif %}

                        {% if product.tax.rate %}
                            <g:rate>{{ product.tax.rate }}</g:rate>
                        {% endif %}

                        {% if product.tax.tax_ship %}
                            <g:tax_ship>{{ product.tax.tax_ship }}</g:tax_ship>
                        {% endif %}

                    </g:tax>
                {% endif %}

                {% if product.tax_category %}
                    <g:tax_category>{{ product.tax_category }}</g:tax_category>
                {% endif %}

                <!-- End tax override -->

            </item>

        {% endfor %}

    </channel>
</rss>