<?xml version="1.0"?>
<rss xmlns:g="http://base.google.com/ns/1.0" version="2.0">
    <channel>
        <title>{{ store.name }}</title>
        <link>{{ store.url }}</link>
        <description>This is a product feed for Google Shopping PLA</description>

        {% for item in items %}

            <item>

                <!-- Basic product data. Schema: https://support.google.com/merchants/answer/7052112?hl=en#basic_product_data -->

                {% if item.sku %}
                    <g:id>{{ item.sku }}</g:id>
                {% endif %}

                {% if item.structured_title %}
                    <g:structured_title>
                        <g:digital_source_type>{{ item.structured_title.digital_source_type }}</g:digital_source_type>
                        <g:content>{{ item.structured_title.content }}</g:content>
                    </g:structured_title>
                {% elif item.title %}
                    <g:title>{{ item.title }}</g:title>
                {% endif %}

                {% if item.structured_description %}
                    <g:structured_description>
                        <g:digital_source_type>{{ item.structured_description.digital_source_type }}</g:digital_source_type>
                        <g:content>{{ item.structured_description.content }}</g:content>
                    </g:structured_description>
                {% elif item.description %}
                    <g:description>{{ item.description }}</g:description>
                {% endif %}

                {% if item.link %}
                    <g:link>{{ item.link }}</g:link>
                {% endif %}

                {% if item.image_link %}
                    <g:image_link>{{ item.image_link }}</g:image_link>
                {% endif %}

                {% if item.additional_image_links %}
                    {% for link in item.additional_image_links %}
                        <g:additional_image_link>{{ link }}</g:additional_image_link>
                    {% endfor %}
                {% endif %}

                {% if item.virtual_model_link %}
                    <g:virtual_model_link>{{ item.virtual_model_link }}<g:virtual_model_link>
                {% endif %}

                {% if item.mobile_link %}
                    <g:mobile_link>{{ item.mobile_link }}<g:mobile_link>
                {% endif %}

                <!-- End basic product data -->


                <!-- Price and Availability. Schema: https://support.google.com/merchants/answer/7052112?hl=en#price_and_availability -->

                {% if item.availability %}
                    <g:availability>{{ item.availability }}</g:availability>
                {% endif %}

                {% if item.availability_date %}
                    <g:availability_date>{{ item.availability_date }}</g:availability_date>
                {% endif %}

                {% if item.cost_of_goods_sold %}
                    <g:cost_of_goods_sold>{{ item.cost_of_goods_sold }}</g:cost_of_goods_sold>
                {% endif %}

                {% if item.expiration_date %}
                    <g:expiration_date>{{ item.expiration_date }}</g:expiration_date>
                {% endif %}

                {% if item.price %}
                    <g:price>{{ item.price }}</g:price>
                {% endif %}

                {% if item.sale_price %}
                    <g:sale_price>{{ item.sale_price }}</g:sale_price>
                {% endif %}

                {% if item.sale_price_effective_date %}
                    <g:sale_price_effective_date>{{ item.sale_price_effective_date }}</g:sale_price_effective_date>
                {% endif %}

                {% if item.unit_pricing_measure %}
                    <g:unit_pricing_measure>{{ item.unit_pricing_measure }}</g:unit_pricing_measure>
                {% endif %}

                {% if item.unit_pricing_base_measure %}
                    <g:unit_pricing_base_measure>{{ item.unit_pricing_base_measure }}</g:unit_pricing_base_measure>
                {% endif %}

                {% if item.installment %}
                    <g:installment>

                        {% if item.installment.months %}
                            <g:months>{{ item.installment.months }}</g:months>
                        {% endif %}

                        {% if item.installment.amount %}
                            <g:amount>{{ item.installment.amount }}</g:amount>
                        {% endif %}

                        {% if item.installment.downpayment %}
                            <g:downpayment>{{ item.installment.downpayment }}</g:downpayment>
                        {% endif %}

                        {% if item.installment.credit_type %}
                            <g:credit_type>{{ item.installment.credit_type }}</g:credit_type>
                        {% endif %}

                    </g:installment>
                {% endif %}

                {% if item.subscription_cost %}
                    <g:subscription_cost>{{ item.subscription_cost }}</g:subscription_cost>
                {% endif %}

                {% if item.loyalty_program %}
                    <g:loyalty_program>

                        {% if item.loyalty_program.program_label %}
                            <g:program_label>{{ item.loyalty_program.program_label }}</g:program_label>
                        {% endif %}

                        {% if item.loyalty_program.tier_label %}
                            <g:tier_label>{{ item.loyalty_program.tier_label }}</g:tier_label>
                        {% endif %}

                        {% if item.loyalty_program.price %}
                            <g:price>{{ item.loyalty_program.price }}</g:price>
                        {% endif %}

                        {% if item.loyalty_program.loyalty_points %}
                            <g:loyalty_points>{{ item.loyalty_program.loyalty_points }}</g:loyalty_points>
                        {% endif %}

                        {% if item.loyalty_program.member_price_effective_date %}
                            <g:member_price_effective_date>{{ item.loyalty_program.member_price_effective_date }}</g:member_price_effective_date>
                        {% endif %}

                    </g:loyalty_program>
                {% endif %}

                {% if item.auto_pricing_min_price %}
                    <g:auto_pricing_min_price>{{ item.auto_pricing_min_price }}</g:auto_pricing_min_price>
                {% endif %}

                <!-- End price and availability -->


                <!-- Product category. Schema: https://support.google.com/merchants/answer/7052112?hl=en#product_category -->

                {% if item.google_product_category %}
                    <g:google_product_category>{{ item.google_product_category }}</g:google_product_category>
                {% endif %}

                {% if item.product_type %}
                    <g:product_type>{{ item.product_type }}</g:product_type>
                {% endif %}

                <!-- End product category -->


                <!-- Product identifiers. Schema: https://support.google.com/merchants/answer/7052112?hl=en#product_identifiers -->

                {% if item.brand %}
                    <g:brand>{{ item.brand }}</g:brand>
                {% endif %}

                {% if item.gtin %}
                    <g:gtin>{{ item.gtin }}</g:gtin>
                {% endif %}

                {% if item.mpn %}
                    <g:mpn>{{ item.mpn }}</g:mpn>
                {% endif %}

                {% if item.identifier_exists %}
                    <g:identifier_exists>{{ item.identifier_exists }}</g:identifier_exists>
                {% endif %}

                <!-- End product identifiers -->


                <!-- Detailed product description. Schema: https://support.google.com/merchants/answer/7052112?hl=en#detailed_product_description -->

                {% if item.condition %}
                    <g:condition>{{ item.condition }}</g:condition>
                {% endif %}

                {% if item.adult %}
                    <g:adult>{{ item.adult }}</g:adult>
                {% endif %}

                {% if item.multipack %}
                    <g:multipack>{{ item.multipack }}</g:multipack>
                {% endif %}

                {% if item.is_bundle %}
                    <g:is_bundle>{{ item.is_bundle }}</g:is_bundle>
                {% endif %}

                {% if item.certification %}
                    <g:certification>

                        {% if item.certification.certification_authority %}
                            <g:certification_authority>{{ item.certification.certification_authority }}</g:certification_authority>
                        {% endif %}

                        {% if item.certification.certification_name %}
                            <g:certification_name>{{ item.certification.certification_name }}</g:certification_name>
                        {% endif %}

                        {% if item.certification.certification_code %}
                            <g:certification_code>{{ item.certification.certification_code }}</g:certification_code>
                        {% endif %}

                    </g:certification>
                {% endif %}

                {% if item.energy_efficiency_class %}
                    <g:energy_efficiency_class>{{ item.energy_efficiency_class }}</g:energy_efficiency_class>
                {% endif %}

                {% if item.min_energy_efficiency_class %}
                    <g:min_energy_efficiency_class>{{ item.min_energy_efficiency_class }}</g:min_energy_efficiency_class>
                {% endif %}

                {% if item.max_energy_efficiency %}
                    <g:max_energy_efficiency>{{ item.max_energy_efficiency }}</g:max_energy_efficiency>
                {% endif %}

                {% if item.age_group %}
                    <g:age_group>{{ item.age_group }}</g:age_group>
                {% endif %}

                {% if item.color %}
                    <g:color>{{ item.color }}</g:color>
                {% endif %}

                {% if item.gender %}
                    <g:gender>{{ item.gender }}</g:gender>
                {% endif %}

                {% if item.material %}
                    <g:material>{{ item.material }}</g:material>
                {% endif %}

                {% if item.pattern %}
                    <g:pattern>{{ item.pattern }}</g:pattern>
                {% endif %}

                {% if item.size %}
                    <g:size>{{ item.size }}</g:size>
                {% endif %}

                {% if item.size_type %}
                    <g:size_type>{{ item.size_type }}</g:size_type>
                {% endif %}

                {% if item.size_system %}
                    <g:size_system>{{ item.size_system }}</g:size_system>
                {% endif %}

                {% if item.group_id %}
                    <g:item_group_id>{{ item.group_id }}</g:item_group_id>
                {% endif %}

                {% if item.length %}
                    <g:product_length>{{ item.length }}</g:product_length>
                {% endif %}

                {% if item.width %}
                    <g:product_width>{{ item.width }}</g:product_width>
                {% endif %}

                {% if item.height %}
                    <g:product_height>{{ item.height }}</g:product_height>
                {% endif %}

                {% if item.weight %}
                    <g:product_weight>{{ item.weight }}</g:product_weight>
                {% endif %}

                {% if item.additional_product_detail %}
                    <g:product_detail>

                        {% if item.additional_product_detail.section_name %}
                            <g:section_name>{{ item.additional_product_detail.section_name }}</g:section_name>
                        {% endif %}

                        {% if item.additional_product_detail.attribute_name %}
                            <g:attribute_name>{{ item.additional_product_detail.attribute_name }}</g:attribute_name>
                        {% endif %}

                        {% if item.additional_product_detail.attribute_value %}
                            <g:attribute_value>{{ item.additional_product_detail.attribute_value }}</g:attribute_value>
                        {% endif %}

                    </g:product_detail>
                {% endif %}

                {% if item.highlights %}
                    {% for highlight in item.highlights %}
                        <g:product_highlight>{{ highlight }}</g:product_highlight>
                    {% endfor %}
                {% endif %}

                <!-- End detailed product description -->


                <!-- Shopping campaigns and other configurations. Schema: https://support.google.com/merchants/answer/7052112?hl=en#shopping_campaigns_and_other -->

                {% if item.google_ads_redirect %}
                    <g:ads_redirect>{{ item.google_ads_redirect }}</g:ads_redirect>
                {% endif %}

                {% if item.custom_label_0 %}
                    <g:custom_label_0>{{ item.custom_label_0 }}</g:custom_label_0>
                {% endif %}

                {% if item.custom_label_1 %}
                    <g:custom_label_1>{{ item.custom_label_1 }}</g:custom_label_1>
                {% endif %}

                {% if item.custom_label_2 %}
                    <g:custom_label_2>{{ item.custom_label_2 }}</g:custom_label_2>
                {% endif %}

                {% if item.custom_label_3 %}
                    <g:custom_label_3>{{ item.custom_label_3 }}</g:custom_label_3>
                {% endif %}

                {% if item.custom_label_4 %}
                    <g:custom_label_4>{{ item.custom_label_4 }}</g:custom_label_4>
                {% endif %}

                {% if item.promotion_ids %}
                    {% for id in item.promotion_ids %}
                        <g:promotion_id>{{ id }}</g:promotion_id>
                    {% endfor %}
                {% endif %}

                {% if item.lifestyle_image_link %}
                    <g:lifestyle_image_link>{{ item.lifestyle_image_link }}</g:lifestyle_image_link>
                {% endif %}

                <!-- End shopping campaigns and other configurations -->


                <!-- Marketplaces. Schema: https://support.google.com/merchants/answer/7052112?hl=en#marketplaces -->

                {% if item.external_seller_id %}
                    <g:external_seller_id>{{ item.external_seller_id }}</g:external_seller_id>
                {% endif %}

                <!-- End marketplaces -->


                <!-- Destinations. Schema: https://support.google.com/merchants/answer/7052112?hl=en#destinations -->

                {% if item.excluded_destinations %}
                    {% for destination in item.excluded_destinations %}
                        <g:excluded_destination>{{ destination }}</g:excluded_destination>
                    {% endfor %}
                {% endif %}

                {% if item.included_destinations %}
                    {% for destination in item.included_destinations %}
                        <g:included_destination>{{ destination }}</g:included_destination>
                    {% endfor %}
                {% endif %}

                {% if item.excluded_countries %}
                    {% for country in item.excluded_countries %}
                        <g:shopping_ads_excluded_country>{{ country }}</g:shopping_ads_excluded_country>
                    {% endfor %}
                {% endif %}

                {% if item.pause %}
                    <g:pause>ads</g:pause>
                {% endif %}

                <!-- End destinations -->


                <!-- Shipping. Schema: https://support.google.com/merchants/answer/7052112?hl=en#shipping_and_returns -->

                {% if item.shipping %}
                    <g:shipping>

                        {% if item.shipping.country %}
                            <g:country>{{ item.shipping.country }}</g:country>
                        {% endif %}

                        {% if item.shipping.region %}
                            <g:region>{{ item.shipping.region }}</g:region>
                        {% endif %}

                        {% if item.shipping.postal_code %}
                            <g:postal_code>{{ item.shipping.postal_code }}</g:postal_code>
                        {% endif %}

                        {% if item.shipping.location_id %}
                            <g:location_id>{{ item.shipping.location_id }}</g:location_id>
                        {% endif %}

                        {% if item.shipping.location_group_name %}
                            <g:location_group_name>{{ item.shipping.location_group_name }}</g:location_group_name>
                        {% endif %}

                        {% if item.shipping.service %}
                            <g:service>{{ item.shipping.service }}</g:service>
                        {% endif %}

                        {% if item.shipping.price %}
                            <g:price>{{ item.shipping.price }}</g:price>
                        {% endif %}

                        {% if item.shipping.min_handling_time %}
                            <g:min_handling_time>{{ item.shipping.min_handling_time }}</g:min_handling_time>
                        {% endif %}

                        {% if item.shipping.max_handling_time %}
                            <g:max_handling_time>{{ item.shipping.max_handling_time }}</g:max_handling_time>
                        {% endif %}

                        {% if item.shipping.min_transit_time %}
                            <g:min_transit_time>{{ item.shipping.min_transit_time }}</g:min_transit_time>
                        {% endif %}

                        {% if item.shipping.max_transit_time %}
                            <g:max_transit_time>{{ item.shipping.max_transit_time }}</g:max_transit_time>
                        {% endif %}

                    </g:shipping>
                {% endif %}

                {% if item.shipping_label %}
                    <g:shipping_label>{{ item.shipping_label }}</g:shipping_label>
                {% endif %}

                {% if item.shipping_weight %}
                    <g:shipping_weight>{{ item.shipping_weight }}</g:shipping_weight>
                {% endif %}

                {% if item.shipping_length %}
                    <g:shipping_length>{{ item.shipping_length }}</g:shipping_length>
                {% endif %}

                {% if item.shipping_width %}
                    <g:shipping_width>{{ item.shipping_width }}</g:shipping_width>
                {% endif %}

                {% if item.shipping_height %}
                    <g:shipping_height>{{ item.shipping_height }}</g:shipping_height>
                {% endif %}

                {% if item.ships_from_country %}
                    <g:ships_from_country>{{ item.ships_from_country }}</g:ships_from_country>
                {% endif %}

                {% if item.max_handling_time %}
                    <g:max_handling_time>{{ item.max_handling_time }}</g:max_handling_time>
                {% endif %}

                {% if item.min_handling_time %}
                    <g:min_handling_time>{{ item.min_handling_time }}</g:min_handling_time>
                {% endif %}

                {% if item.free_shipping_threshold %}
                    <g:free_shipping_threshold>
                        <g:country>{{ item.free_shipping_threshold.country }}</g:country>
                        <g:price_threshold>{{ item.free_shipping_threshold.price_threshold }}</g:price_threshold>
                    </g:free_shipping_threshold>
                {% endif %}

                <!-- End shipping -->


                <!-- Tax override. Schema: https://support.google.com/merchants/answer/7052112?hl=en#tax -->

                {% if item.tax %}
                    <g:tax>

                        {% if item.tax.country %}
                            <g:country>{{ item.tax.country }}</g:country>
                        {% endif %}

                        {% if item.tax.region %}
                            <g:region>{{ item.tax.region }}</g:region>
                        {% endif %}

                        {% if item.tax.postal_code %}
                            <g:postal_code>{{ item.tax.postal_code }}</g:postal_code>
                        {% endif %}

                        {% if item.tax.location_id %}
                            <g:location_id>{{ item.tax.location_id }}</g:location_id>
                        {% endif %}

                        {% if item.tax.rate %}
                            <g:rate>{{ item.tax.rate }}</g:rate>
                        {% endif %}

                        {% if item.tax.tax_ship %}
                            <g:tax_ship>{{ item.tax.tax_ship }}</g:tax_ship>
                        {% endif %}

                    </g:tax>
                {% endif %}

                {% if item.tax_category %}
                    <g:tax_category>{{ item.tax_category }}</g:tax_category>
                {% endif %}

                <!-- End tax override -->

            </item>

        {% endfor %}

    </channel>
</rss>