<!DOCTYPE html>
<html lang="en">
    <head>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"></script>
    </head>
    <body>
        <script src="{{ base_url }}/static/scripts/3dcube.js"></script>
    </body>
</html>

